include README.md
include CITATION.cff
recursive-include configs *.toml
recursive-include docs *.bib *.md *.pdf *.png *.tex
recursive-include scripts *.py
recursive-include tests *.py
prune results
prune build
prune dist
